<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
        </staticContent>
        <handlers>
            <add name="JSON" path=".json" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
